{% extends "base.html" %}
{% block page3 %}
<h1>Informasi detail CAPEC</h1>
<table>
  <thead>
    <tr>
      <th>CAPEC ID</th>
      <th>Name</th>
      <th>STEP 1</th>
      <th>STEP 2</th>
      <th>STEP 3</th>
    </tr>
  </thead>
  <tbody>
    {% for capec in capecs %}
      <tr>
        <td>{{ capec.capec_id }}</td>
        <td>{{ capec.name }}</td>
        <td>{{ capec.step1 if capec.step1 is not none else "" }}</td>
        <td>{{ capec.step2 if capec.step2 is not none else "" }}</td>
        <td>{{ capec.step3 if capec.step3 is not none else "" }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock page3 %}